@{
    ViewData["Title"] = "Sobre";
}

<div style="text-align: center;">
    <img src="~/images/logoPrincipal.jpg" alt="Sua Imagem" style="width: 200px; height: auto; margin-bottom: 20px;">

</div>

<div style="text-align: center;">
    <h1 style="font-size: 24px;">Informações sobre o Sistema</h1>
    <p style="font-size: 18px;">Versão: 1.0.2</p>
    <p style="font-size: 18px;">Este sistema foi desenvolvido para gerenciar e otimizar o fluxo de coleta de timesheet, gerando relatórios.</p>
    <p style="font-size: 18px;">by JRW Soluções em TI</p>
</div>
