@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/logoPrincipal.jpg" alt="Logo do Sistema" width="1024" height="576">    
    <p><a href="http://www.ecadvogados.com.br/br/sobre-nos/">Eberhardt, Carrascoza - Advogados Assoc</a></p>
</div>
